{
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120
}
